<% include partials/header %>

<div class="container border border-primary mt-5">
    <div class="d-flex" style="flex-direction: column; justify-content: center; align-items: center;">   
        <h3 class="mt-3"><%= blog.title %></h3>
        <img src="<%= blog.image %>" alt="<%= blog.title %>" style="height: 400px;">
        <p><%= blog.created.toDateString() %></p>
        <p><%= blog.description %></p>
    </div>
    <form class="form-inline" action="/blogs/<%= blog._id %>/edit" method="GET">
        <button class="btn btn-warning mb-5">Edit</button>
    </form>
    <form class="form-inline" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
        <button class="btn btn-danger mb-5">Delete</button>
    </form>
</div>

<% include partials/footer %>